/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
LAYOUT AND STYLING
/*******************************************/

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
}

div {
  display: flex;
  flex-flow: column;
  background: skyblue;
  padding: 20px;
  max-width: 500px;
}

#search-bar {
  display: flex;
  width: 100%;
  height: 60px;
}

#search-bar input {
  width: 100%;
  padding: 10px;
}

#search-bar button {
  text-align: center;
}

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.temp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#main-temp {
  font-weight: bold;
  padding-bottom: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
